@charset "UTF-8";

/* 回答はここに書いてね */
.q3__content  {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

th, td {
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
}

.col-blue, th {
  color: #ffffff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

tr:nth-child(odd) {
  background-color: #ecf1f2;
}

tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */